body{
font-family: "Times New Roman";
}

header{
    background-color: blue;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul {
    padding: 0;
    top: 0;
    background-color: blue;
}

nav li {
    display: inline;
    margin: 5px;
    color: white;


}
section {
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: black;
}